@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-primary: #1856FF;
    --color-secondary: #3A344E;
    --color-success: #07CA6B;
    --color-warning: #E89558;
    --color-danger: #EA2143;
    --color-surface: #FFFFFF;
    --color-text-main: #141414;
    --color-bg-base: #F8FAFC;

    --font-sans: 'Ubuntu', ui-sans-serif, system-ui, sans-serif;
    --font-display: 'Oswald', sans-serif;
    --font-mono: 'Ubuntu Mono', monospace;
}
